.form-section{
  width: 100%;
  background-color: var(--neutral2);
  padding-bottom: 100px;
  padding-top: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  
  fieldset {
    border: none;
    padding: 0;
  }

  @media screen and (max-width: 1000px) {
    max-width: 90%;
  }
}

.form__titleblock {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    row-gap: 24px;
  }
}

.form__title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  margin: 0 0 20px;
  @media screen and (max-width: 1000px) {
    text-align: center;
  }
}

.form__subtitle {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  color:var(--neutral);
  @media screen and (max-width: 1000px) {
    text-align: center;
  }
}

.form__submit  {
  margin-left: auto;
  @media screen and (max-width: 1000px) {
    margin: 0 auto;
  }
}

.form__info {
  display: flex;
  flex-direction: row;
  column-gap: 20px;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    row-gap: 24px;
  }
}

.form__leftpart {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 24px;
}

.form__select {
  width: 100%;
  max-width: 100%;
  height: 46px;
  border: 1px solid var(--dark);
  border-radius: 4px;
  position: relative;
}

.form__select-trigger {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.form__selecticon {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

.form__select-items {
  padding:  4px 0;
  box-sizing: border-box;
  position: absolute;
  width: calc(100% - 2px);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: white;
  border: 1px solid var(--dark);
  border-radius: 4px;

  padding: 0;
  list-style: none;
  margin: 0;
}

.form__select-item {
  height: 34px;
  line-height: 34px;
  padding: 0 5px;
  cursor: pointer;

  &:hover {
    background-color: var(--neutral2);
  }
}

.form__input {
  width: 100%;
  max-width: 220px;
  height: 46px;
  padding: 0 5px;
  margin: 0;
  border-radius: 4px;
  background-color: var(--neutral2);
  border: 1px solid var(--dark);
  box-sizing: border-box;
  &:focus {
    border: 1px solid var(--accent1);
    outline: none;
    background-color: #fff;
  }

  @media screen and (max-width: 1000px) {
    max-width: 48%;
  }

  @media screen and (max-width: 500px) {
    max-width: 100%;
  }

}

.form__textarea {
  flex-basis: 50%;
  box-sizing: border-box;
  padding: 5px;
  background-color: var(--neutral2);
  border: 1px solid var(--dark);
  border-radius: 4px;
  resize: none;
  width: 100%;
  height: 122px;
  min-height: 122px;
  max-height: 122px;
  &:focus {
    border: 1px solid var(--accent1);
    outline: none;
    background-color: #fff;
  }
}