.statistic {
  display: flex;
  flex-direction: column;
  max-width: 940px;
  margin: 50px auto;

  @media screen and (max-width: 1000px) {
    margin: 30px auto;
   }
}

.statictic__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: var(--dark);
  margin: 0 0 50px;
}

.statistic__cards {
  display: flex;
  flex-direction: row;
  column-gap: 60px; 

  @media screen and (max-width: 1000px) {
    max-width: 90%;
    margin: 0 auto;
    flex-direction: column;
   }
 }

 .statistic__card {
  display: flex;
  flex-direction: column;
  flex-basis: calc(33% - 30px);  
}

.statistic__number {
  font-family: 'Neue Haas Grotesk Display Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: var(--accent1);
  margin: 0;
  min-height: 130px;
}

.statistic__description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--neutral);
}