.footer {
  width: 100%;
  min-height: 64px;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__wrapper {
  max-width: 960px;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.footer__info{
  color: #fff;;
  padding: 0;
  margin: 0;
}


.footer__copyright {
  padding: 0;
  margin: 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  color: var(--neutral);
}