html {
  font-size: 18px;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #363940;
  background-color: #fff;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/************************typography***********************************************/
.block-title {
  color: #18A3EE;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 0 8px;
  
  @media screen and (max-width: 1239px) {
    font-size: 18px;
    line-height: 24px;
  }

  @media screen and (max-width: 800px) {
    font-size: 16px;
    line-height: 22px;
  }
}

.block-text {
  margin: 0 0 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #363940;

  @media screen and (max-width: 1239px) {
    font-size: 16px;
    line-height: 18px;
  }

  @media screen and (max-width: 800px) {
    font-size: 14px;
    line-height: 18px;
  }
}

.card-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #363940;
  margin: 0;

  
  @media screen and (max-width: 1000px) {
    min-height: 0;
    margin-bottom: 12px;
  }
}

.card-text {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #95A1BB;
  margin: 0 0 12px;
}


.link {
  font-family: 'Rubik';
  font-style: normal;
  text-align: start;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #18A3EE;
  border:none;
  background-color: transparent;
  padding: 0;
  position: relative;
  width: 100px;
  text-decoration: none;
  margin-top: auto;

  &:hover {
    cursor: pointer;
  }

  &::after {
    content: '→';
    position: absolute;
    bottom: 0;
    top: 0;
    right: 20px;
    opacity: 0;
    transition: right 0.3s ease-in-out, opacity 0.5s ease-in-out;
  }

  &:hover::after {
    right: 5px;
    opacity: 1;
  }
}

.card {
  border: 1px solid rgb(194, 193, 193, 20%);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px;
  transition: box-shadow 0.3s ease-in-out;


  &:hover {
  box-shadow: 8px 8px 18px 0px rgba(116, 126, 133, 0.13);
  }

}