@import url(./vendors/normalize.css);
@import url(./vendors/fonts.css);


body {
  font-family: 'Rubic', 'Neue Haas Grotesk Display Pro', 'Inter',  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --dark: #363940;
  --light: #F6F7FA;
  --light2: #CAD1E1;
  --accent1: #18A3EE;
  --accent2: #FC8823;
  --accent2-hover: rgba(251, 255, 137, 0.3);
  --neutral: #95A1BB;
  --neutral2: #E1E5EE;


  --bradius: 2px;

  --mwidth: 940px;
}