.Contacts__blocks {
  display: flex;
  column-gap: 24px;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0 5%;


  @media screen and (max-width: 1000px) {
    flex-direction: column-reverse;
    row-gap: 40px;
  }
}

.form {
  width:45%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  @media screen and (max-width: 1000px) {
    width: 100%;
  }

  .button {
    opacity: 0;
    animation: fadeInUp 1s 2.7s;
    animation-fill-mode: forwards;
    clear: both;
  }
} 


.Contacts__contacts {
  display: flex;
  flex-direction: row;
  max-width: 90%;
  width: 100%;
  margin: 40px auto;
  column-gap: 40px;
  opacity: 0;
  animation: fadeInUp 1s 2s;
  animation-fill-mode: forwards;

}

.Contacts__contact {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  min-width: 200px;
}

.Contacts__link {
  font-family: 'Rubik';
  font-style: normal;
  text-align: start;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #18A3EE;
  border:none;
  background-color: transparent;
  padding: 0;
  position: relative;
  text-decoration: none;
  margin-top: auto;
}



.form__fieldset {
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 100%;
  opacity: 0;
  animation: fadeInUp 1s 2.4s;
  animation-fill-mode: forwards;
  clear: both;
 }
 
 .form__line {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
 }
 
 .form__text {
   font-style: normal;
   font-weight: 400;
   font-family: 'Rubik';
   letter-spacing: 2px;
   font-size: 12px;
   line-height: 18px;
   text-transform: uppercase;
   white-space: nowrap;
 
 }
 
 .form__label {
   display: flex;
   flex-direction: column;
   width: 100%;
 }
 
 .form__input {
  font-family: 'Rubik';
   border: 1px solid #c6c6c6;
   border-radius: 8px;
   min-height: 44px;
   background-color: transparent;
   width: auto;
 
   font-style: normal;
   font-size: 18px;
   line-height: 24px;
   padding:  4px;
   box-sizing: border-box;
 
   &::placeholder {
    color: #363940;
    opacity: 0.5;
   }
 
   &:focus, :hover, :active {
    outline: none;
    border: 1px solid #18A3EE;
  }
 
   &_error {
     background-image: url(../../assets/img/error.png);
     background-size: 3px 12px;
     background-position: right 12px center;
     background-repeat: no-repeat;
     border: 1px solid #f50f07;

     &:focus, :hover, :active {
      outline: none;
      border: 1px solid #f50f07;
    }
   }

   &.form__area{
    min-height: 120px;
    resize: none;

    &.form__input_error {
      background-position: right 12px top 12px;
   }
  }
 }
 
 .form__err {
   opacity: 1;
   height: 24px;
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 15px;
   color: #f50f07;
   text-transform: lowercase;
   padding-left: 4px;
   margin: 0 0 4px;
   transition: opacity .2s ease-in;а
 
       &_show {
       opacity: 1;
     }
 }

 .form__message {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  max-width: 100%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 20px 0 0;
 }

 .form__message_show {
  opacity: 1;
 }