.Contacts {
  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: flex-start;
    max-width: 90%;
    margin: 0 auto;
    column-gap: 24px;
    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
      row-gap: 24px;
      max-width: 100%;
    }
  }

  .info {
    grid-column: 2;
    grid-row: 1;
    margin: 40px 0 0;
    opacity: 0;
    animation: fadeInUp 1s 4s;
    animation-fill-mode: forwards;

    .card-title {
      margin-bottom: 24px;
    }

    @media screen and (max-width: 1000px) {
      grid-column: 1;
      grid-row: 2;
      margin: 0;
    }

  }
}

.Contacts__blocks {
  display: flex;
  column-gap: 24px;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0 5%;
  grid-column: 1;


  @media screen and (max-width: 1000px) {
    flex-direction: column-reverse;
    row-gap: 40px;
  }
}


.Contacts__contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 20px;
  width: 100%;
  margin: 40px auto;
  column-gap: 40px;
  opacity: 0;
  animation: fadeInUp 1s 2s;
  animation-fill-mode: forwards;

  @media screen and (max-width: 1000px) {
    margin: 0 auto;
  }
  
  @media screen and (max-width: 700px) {
    flex-direction: column;
    row-gap: 25px;
    margin: 20px auto;
  }
}

.Contacts__contact {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  min-width: 200px;


}

.Contacts__link {
  font-family: 'Rubik';
  font-style: normal;
  text-align: start;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #18A3EE;
  border:none;
  background-color: transparent;
  padding: 0;
  position: relative;
  text-decoration: none;
  margin-top: auto;

  @media screen and (max-width: 600px) {
    font-size: 16px;
    line-height: 22px;
  }
}

.form {
  grid-column: 1;
  width:100%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  @media screen and (max-width: 1200px) {
    width: 90%;
    margin-bottom: 40px;
  }

  .button {
    opacity: 0;
    animation: fadeInUp 1s 2.7s;
    animation-fill-mode: forwards;
    clear: both;
  }

  .card-title {
    margin-bottom: 20px;
  }
} 

.form__fieldset {
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 100%;
  opacity: 0;
  animation: fadeInUp 1s 2.4s;
  animation-fill-mode: forwards;
  clear: both;
 }
 
 .form__line {
  display: flex;
  flex-direction: row;
  column-gap: 12px;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
 }
 
 .form__text {
   font-style: normal;
   font-weight: 400;
   font-family: 'Rubik';
   letter-spacing: 2px;
   font-size: 12px;
   line-height: 18px;
   text-transform: uppercase;
   white-space: nowrap;
 
 }
 
 .form__label {
   display: flex;
   flex-direction: column;
   width: 100%;
 }
 
 .form__input {
  font-family: 'Rubik';
   border: 1px solid #c6c6c6;
   border-radius: 8px;
   min-height: 44px;
   background-color: transparent;
   width: auto;
 
   font-style: normal;
   font-size: 16px;
   line-height: 24px;
   padding:  4px 8px;
   box-sizing: border-box;
 
   &::placeholder {
    color: #363940;
    opacity: 0.5;
   }
 
   &:focus, :hover, :active {
    outline: none;
    border: 1px solid #18A3EE;
  }
 
   &_error {
     background-image: url(../../assets/img/error.png);
     background-size: 3px 12px;
     background-position: right 12px center;
     background-repeat: no-repeat;
     border: 1px solid #f50f07;

     &:focus, :hover, :active {
      outline: none;
      border: 1px solid #f50f07;
    }
   }

   &.form__area{
    min-height: 120px;
    resize: none;

    &.form__input_error {
      background-position: right 12px top 12px;
   }
  }
 }
 
 .form__err {
   opacity: 1;
   height: 24px;
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 15px;
   color: #f50f07;
   text-transform: lowercase;
   padding-left: 4px;
   margin: 0 0 4px;
   transition: opacity .2s ease-in;а
 
       &_show {
       opacity: 1;
     }
 }

 .form__message {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  max-width: 100%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 20px 0 0;
  color: #18A3EE;
 }

 .form__message_show {
  opacity: 1;
 }

 .form__buttonbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .loader{
    display: none;
    svg path,
    svg rect{
      fill: #18A3EE;
    }
  }

  &_active {
    display: block;
  }
 }

